body{
	color: white;
	background: #202020;
	overflow-x: hidden;
	/*background: url("../images/portfolioBG.jpg");
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;*/
}
.NameHeader{
	padding-top: 5%;
}
.userImage{
	border-radius: 50%;
	width: 15%;
	border: 2px solid black;
	position: absolute;
	top: 30px;
	left: 20%;
}
.queenImage{
	width: 7%;
	position: absolute;
	bottom: 90px;
	left: -128.5px;
	color: black;
	transform: rotate(-20deg);
}
/*.nameBorder{
	width: 60%;
	height: 40%;
	position: absolute;
	bottom: -175px;
	left: -25px;
}
.nameBorder1{
	width: 60%;
	height: 40%;
	position: absolute;
	bottom: -100px;
	left: -45px;
	transform: rotate(-180deg);
}*/
.headDetails{
	position: absolute;
	bottom: -60px;
	left: -90px;
	color: black;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetails1{
	position: absolute;
	bottom: -18px;
	left: 220px;
	color: black;
	font-family: Courier;
	font-size: 55px;
}
.headDetails2{
	position: absolute;
	bottom: -60px;
	left: 40%;
	color: black;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetails4{
	position: absolute;
	bottom: -80px;
	left: 11%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}
.boxedHeaderInfo {
	/*position: relative;*/
	/*top: 30%;
	left: 14%;*/
	/*border: 1px solid white ;
	width: 70%;
	height: 270px;
	margin: auto;*/
  	/*padding: 10px;*/
  	position: relative;
	top: 140px;
	left: -200px;
	width: 90%;
	height: 350px;
}
.boxedHeaderCover{
	width: 50px;
	height: 50px;
}
.iconDiv{
	position: relative;
	bottom: -180px;
	left: 20%;
}
.icon1{
	width: 4%;
	padding-right: 130px;
}
.icon2{
	width: 4%;
	padding-right: 130px;
}
.icon3{
	width: 4%;
	padding-right: 130px;
}
.icon4{
	width: 4%;
	padding-right: 130px;
}
.icon5{
	width: 4%;
	padding-right: 130px;
}

/*SECOND PAGE LAYOUT*/
.boxedHeader2ndInfo {
  	position: relative;
	top: 30px;
	left: -250px;
	width: 97%;
	height: 640px;
}

/*SECOND - WORK EXP*/
.headDetailsWork3{
	position: absolute;
	top: -25px;
	left: -10px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetailsWork{
	position: absolute;
	top: -25px;
	left: -180px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetailsWork1{
	position: absolute;
	top: 58px;
	left: 100px;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 45px;
}
.workImage{
	width: 6%;
	position: absolute;
	top: 75px;
	left: -95px;
}

/*SECOND - skill*/
.headDetailsSkill3{
	position: absolute;
	top: -25px;
	left: -13px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetailsSkill{
	position: absolute;
	top: -25px;
	left: -180px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.skillImage{
	width: 6%;
	position: absolute;
	top: 68px;
	left: -84px;
	transform: rotate(-45deg);
}

/*THIRD - skill*/
.headDetailsProject3{
	position: absolute;
	top: -25px;
	left: -13px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetailsProject{
	position: absolute;
	top: -25px;
	left: -180px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.projectImage{
	width: 6%;
	position: absolute;
	top: 75px;
	left: -88px;
}
/*WORK CONTENT*/
.workExp{
	width: 10%;
	position: absolute;
	top: 35%;
	left: -95px;
}
.workDetails{
	position: absolute;
	top: 35%;
	left: 6%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}
/*SKILLS CONTENT*/
.skills{
	width: 70%;
	position: absolute;
	left: -50px;
	top: 140%;
}
.skills1{
	width: 70%;
	position: absolute;
	left: -50px;
	top: 320%;
}
.skills2{
	width: 70%;
	position: absolute;
	left: 340%;
	top: 140%;
}
.skillDetails{
	position: absolute;
	width: 150%;
	bottom: 46%;
	left: 180%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}