body{
	color: white;
	background: #202020;
	overflow-x: hidden;
	/*background: url("../images/portfolioBG.jpg");
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;*/
}
.NameHeader{
	padding-top: 5%;
}
.userImage{
	border-radius: 50%;
	width: 15%;
	border: 2px solid black;
	position: absolute;
	top: 30px;
	left: 20%;
}
.queenImage{
	width: 7%;
	position: absolute;
	bottom: 90px;
	left: -190px;
	color: black;
	transform: rotate(-20deg);
}
/*.nameBorder{
	width: 65%;
	height: 40%;
	position: absolute;
	bottom: -140px;
	left: -40px;
}
.nameBorder1{
	width: 65%;
	height: 40%;
	position: absolute;
	bottom: -80px;
	left: -60px;
	transform: rotate(-180deg);
}*/
.headDetails{
	position: absolute;
	bottom: -60px;
	left: -150px;
	color: black;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetails1{
	position: absolute;
	bottom: -23px;
	left: 14%;
	color: black;
	font-family: Courier;
	font-size: 55px;
}
.headDetails2{
	position: absolute;
	bottom: -60px;
	left: 38%;
	color: black;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetails4{
	position: absolute;
	bottom: -80px;
	left: 11%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}
.boxedHeaderInfo {
	/*position: relative;*/
	/*top: 30%;
	left: 14%;*/
	/*border: 1px solid white ;
	width: 70%;
	height: 270px;
	margin: auto;*/
  	/*padding: 10px;*/
  	position: relative;
	top: 140px;
	left: -200px;
	width: 90%;
	height: 350px;
}
.boxedHeaderCover{
	width: 50px;
	height: 50px;
}
.iconDiv{
	position: relative;
	bottom: -180px;
	left: 4.5%;
}
.icon1{
	width: 4%;
	padding-right: 100px;
}
.icon2{
	width: 4%;
	padding-right: 100px;
}
.icon3{
	width: 4%;
	padding-right: 100px;
}
.icon4{
	width: 4%;
	padding-right: 100px;
}
.icon5{
	width: 4%;
	padding-right: 100px;
}
.icon6{
	width: 4%;
	padding-right: 100px;
}

/*SECOND PAGE LAYOUT*/
.boxedHeader2ndInfo {
  	position: relative;
	top: 30px;
	left: -250px;
	width: 99.5%;
	height: 650px;
}

/*SECOND - WORK EXP*/
.headDetailsWork3{
	position: absolute;
	top: -25px;
	left: -10px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetailsWork{
	position: absolute;
	top: -25px;
	left: -180px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetailsWork1{
	position: absolute;
	top: 45px;
	left: 120px;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 45px;
}
.workImage{
	width: 6%;
	position: absolute;
	top: 60px;
	left: -90px;
}

/*SECOND - skill*/
.headDetailsSkill3{
	position: absolute;
	top: -25px;
	left: -13px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetailsSkill{
	position: absolute;
	top: -25px;
	left: -180px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.skillImage{
	width: 6%;
	position: absolute;
	top: 55px;
	left: -70px;
	transform: rotate(-45deg);
}

/*THIRD - skill*/
.headDetailsProject3{
	position: absolute;
	top: -25px;
	left: 15px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetailsProject{
	position: absolute;
	top: -25px;
	left: -180px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.projectImage{
	width: 6%;
	position: absolute;
	top: 65px;
	left: -60px;
}
/*WORK CONTENT*/
.workExp{
	width: 10%;
	position: absolute;
	top: 35%;
	left: -95px;
}
.workDetails{
	position: absolute;
	top: 35%;
	left: 6%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}
/*SKILLS CONTENT*/
.skills{
	width: 70%;
	position: absolute;
	left: -80%;
	top: 140%;
}
.skills1{
	width: 70%;
	position: absolute;
	left: -80%;
	top: 320%;
}
.skills2{
	width: 70%;
	position: absolute;
	left: 260%;
	top: 140%;
}
.skillDetails{
	position: absolute;
	width: 150%;
	bottom: 46%;
	left: 180%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}
.skillDetails1{
	position: absolute;
	top: 30%;
	left: 1%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}

/*EDUCATION CONTENT*/
.educImage{
	width: 6%;
	position: absolute;
	top: 60px;
	left: 170px;
}
.educImage1{
	width: 6%;
	position: absolute;
	top: 60px;
	left: 250px;
}
.headDetailsEducation1{
	position: absolute;
	top: -25px;
	left: 325px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.headDetailsEducation{
	position: absolute;
	top: -25px;
	left: -180px;
	color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 80px;
}
.educImage2{
	width: 180%;
	position: absolute;
	top: 130px;
	left: -410px;
}
.educImage3{
	width: 9.5%;
	position: absolute;
	top: 350px;
	left: -90px;
}
.educImage4{
	width: 10%;
	position: absolute;
	top: 515px;
	left: -90px;
}
.educDetails{
	position: absolute;
	top: 27%;
	left: 7%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}
.educDetails1{
	position: absolute;
	top: 52%;
	left: 7%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}
.educDetails2{
	position: absolute;
	bottom: 2%;
	left: 7%;
	color: black;
	font-family: Courier;
	font-size: 25px;
}
/*PROJECT CONTENT*/

/*NAV BAR*/
/*nav {
	position: absolute;
	top: 10%;
	left: .5%;
  	width: 99%;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 /* position: fixed;
  top: 0%;
  width: 99%;*/
/*}
.li {
  float: left;
}
.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}*/